/** {
	border: 1px solid red;
}*/

html {
	background: -webkit-linear-gradient(right, #febc4f, #a32a04); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, #febc4f, #a32a04); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #febc4f, #a32a04); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #febc4f, #a32a04); /* Standard syntax */

	font-family: 'texgyreadventorregular' !important;
	height: 100%;
}

@media (min-width: 700px) {
	html {
		background-image: url('../img/beach_2.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

body {
	background-color: transparent;
	color: white;
}

h1 {
	font-size: 48px;
	text-align: center;
}

h1, h2 {
	margin: 20px;
}

h2 {
	cursor: pointer;
	cursor: hand;
}

.selectedDiv {
	background-color: rgba(83, 0, 2, 0.5);
}

#cat-title {
	text-align: center;
}

