/** {
	border: 1px solid red;
}*/

html {
	background-image: url('../img/beach_2.jpg');
	background-repeat: no-repeat;
	font-family: 'texgyreadventorregular' !important;
}

body {
	background-color: transparent;
	color: white;
}

h1 {
	font-size: 48px;
	text-align: center;
}

h1, h2 {
	margin-bottom: 20px;
	
}

.selected {
	font-weight: bold;
	font-size: 32px;
}

#cat-title {
	text-align: center;
}

